@import "compass/reset";
@import "keyframes";

$size: 300px;

html, body, .container {
  height: 100%;
}

body {
  background-color: red;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.logo {
  width: $size;
  height: $size;
  background-color: blue;
  position: relative;
  top: 50%;
  margin: ($size * -0.5) auto 0;
}
.logo-title {
  text-align: center;
  font-size: 60px;
  line-height: $size;
  -webkit-animation: rotate 5s infinite;
}
