@import "compass/reset";
@import "keyframes";
@import "mixins";

$size: 300px;

$xiaomi: #ccc6a3;
$kaoyao: #4d385c;

html, body {
  height: 100%;
}

body {
  background-color: $xiaomi;
  padding: 20px;
  box-sizing: border-box;
  @include duo-center;
}

.container {
  position: relative;
  @include duo-center-inner;
}

.logo {
  width: $size;
  height: $size;
  position: relative;
  margin: 0 auto;

  svg {
    width: 100%;
    height: percentage(686/666);
    position: absolute;
    top: 0;
    left: 0;
  }
  svg#kaoyao-text {
    -webkit-animation: rotate 5s infinite;
    animation: rotate 5s infinite;
  }
}

.share-bar {
  margin-top: 30px;
}

