@import "compass/reset";
@import "keyframes";

$size: 300px;

$xiaomi: #ccc6a3;
$kaoyao: #4d385c;

html, body, .container {
  height: 100%;
}

body {
  background-color: $xiaomi;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.logo {
  width: $size;
  height: $size;
  position: relative;
  top: 50%;
  margin: ($size * -0.5) auto 0;

  svg {
    width: 100%;
    height: percentage(686/666);
    position: absolute;
    top: 0;
    left: 0;
  }
  svg#kaoyao-text {
    -webkit-animation: rotate 5s infinite;
    animation: rotate 5s infinite;
  }
}
